label {
    min-width: 120px !important;
    text-align: right;
}

p{
    text-align: left  !important;
}
[role=alert]{
    color:red;
    font-weight: bold;
    margin-left: 30px;;
}

h4 {
    text-align: left;
}